*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white[
    
    ];
}

nav{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    width: 100px;
    height: 50px;

}
.logo{
    width: 100%;
    height: 100%;
}

.navegation{
    display: flex;
    gap: 30px;
}

.nav-item{
    list-style: none;
}

.item{
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.hero-content{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
    border-radius: 15px;
}

.video-container{
    width: 45%;
    height: 90%;
    /* border: black 1px solid; */
    
}

.bar{
    border: 1px solid black;
    border-radius: 10px;
    width: 1px;
    height: 80%;
    
    
}

.text-container{
    width: 45%;
    height: 90%;
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}